.date-item-base:hover {
	background: var(--chakra-colors-asBlue-100);
}

.selected-date-bg {
	background: var(--chakra-colors-asBlue-800);
}

.selected-date-bg:hover {
	background: var(--chakra-colors-asBlue-500);
}

.clear-button {
	background: var(--chakra-colors-asBlue-800);
}

.clear-button:hover {
	background: var(--chakra-colors-asBlue-600);
}
